<script src="{{ site.baseurl }}/js/google-places.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDt-H5Q0w-TH6SVkakuerSftc6F8VaegnQ&signed_in=true&libraries=places"></script>

<!-- Yelp Reviews -->
<script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-rrc-y4AuPSnPBnFZcq9R-W4-EQ";g.src = "//yelp.com/biz_badge_js/en_US/rrc/y4AuPSnPBnFZcq9R-W4-EQ.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
<!-- Yelp Reviews End -->

<!-- Google Reviews -->
<script>
jQuery(document).ready(function( $ ) {
   $("#google-reviews").googlePlaces({
        placeId: 'ChIJjelC2iUdU4gR5Q4M4ZwwkWM'
      , render: ['reviews']
      , min_rating: 4
      , max_rows:4
   });
});
</script>
<!-- Google Reviews End -->